.todo__list-right {
	display: flex;
	align-items: center;
	justify-content: center;
}

.todo__edit-image {
	margin-left: 25px;
	margin-top: 13px;
	opacity: 0.4;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}
}

.checkbox {
	input:checked + label {
		background-color: #d8feee;
		border-color: #d8feee;
	}

	&:hover {
		img {
			opacity: 1;
			cursor: pointer;
		}
	}

	label {
		border: 2px solid #b9b9b9;
		border-radius: 30px;
		width: 27px;
		height: 27px;
		display: inline-block;
		cursor: pointer;
		font-size: 35px;
	}

	input {
		display: none;
	}

	position: relative;
	display: flex;
	align-items: center;
}

.todo__items {
	display: flex;
	margin-left: 75px;
	margin-top: 50px;
}

.checkbox__done-item {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 17px;
	right: 7px;
	opacity: 0;
}

.input-item {
	margin-left: 45px;
	border: 0;
	width: 80%;
	background-color: rgb(247, 211, 247);
	cursor: pointer;
}
